<script lang="ts" context="module">
    /** A step may be a simple string or a range with either end omited */
    export type Step =
        | string
        | { from: string; to: string }
        | { from: string }
        | { to: string };
    /** Either a list with steps and instructions or just a list of instructions */
    export type Rows =
        | Array<{ step: Step; instruction: string }>
        | Array<string>;
</script>

<script lang="ts">
    export let rows: Rows;
</script>

<table class="ml3 br2 overflow-hidden">
    {#each rows as row, idx}
        {#if row instanceof Object}
            {@const { step, instruction } = row}
            <tr>
                {#if step instanceof Object && "from" in step && "to" in step}
                    <td class="b">{step.from}&ndash;{step.to}</td>
                {:else if step instanceof Object && "from" in step}
                    <td class="b tl">{step.from}&ndash;</td>
                {:else if step instanceof Object && "to" in step}
                    <td class="b tr">&ndash;{step.to}</td>
                {:else}
                    <td class="b">{step}</td>
                {/if}
                <td>{instruction}</td>
            </tr>
        {:else}
            <tr>
                <td class="b tr">{idx + 1}.</td>
                <td>{row}</td>
            </tr>
        {/if}
    {/each}
</table>
