<script>
    import { createEventDispatcher } from "svelte";

    export let ratio;
    export let gramsWater;
    export let gramsCoffee;

    const fire = createEventDispatcher();
</script>

<div class="mb2 w-100">
    <label for="ratio" class="indent dib w3-5 b">Ratio</label>
    <input
        id="ratio"
        type="number"
        bind:value={ratio}
        on:change={() => fire("changeRatio")}
        min="0.01"
        step="0.01"
    />
</div>

<div class="mb2 w-100">
    <label for="water" class="indent dib w3-5 b">Water</label>
    <input
        id="water"
        type="number"
        bind:value={gramsWater}
        on:change={() => fire("changeWater")}
        min="1"
    />
    <span class="dn dib-ns pl2 gray">grams</span>
</div>

<div class="mb2 w-100">
    <label for="coffee" class="indent dib w3-5 b">Coffee</label>
    <input
        id="coffee"
        type="number"
        bind:value={gramsCoffee}
        on:change={() => fire("changeCoffee")}
        min="1"
        step="0.01"
    />
    <span class="dn dib-ns pl2 gray">grams</span>
</div>

<style>
    input {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .w3-5 {
        width: 5rem;
    }
</style>
