<script>
    import { precisionRound } from "../calc";
    import InstructionTable from "../components/instruction-table.svelte";
    import RatioWaterCoffee from "../components/ratio-water-coffee.svelte";
    import RecipeHeading from "../components/recipe-heading.svelte";

    const title = "Aramse SOFI 72 Brew Guide";

    let gramsCoffee = 20;
    let gramsWater = gramsCoffee * 6;
    let ratio = gramsCoffee / gramsWater;

    function onGroundCoffeeUpdated() {
        gramsWater = precisionRound(gramsCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onGroundCoffeeUpdated();
    }

    $: tableData = [
        `Add ${gramsCoffee}g of finely ground coffee to the brew chamber. A grind size between espresso and moka pot is a good starting point.`,
        "Using a circular motion, move the WDT tool through the bed of coffee several times to declump and distribute the grounds. This step is critical so take your time to ensure you have a flat bed. Fine particles may exit through the filter during distribution and can be discarded.",
        "Assemble the brew chamber on to the collection chamber. DO NOT press down too tightly as this will create an airtight seal and stall the brew.",
        `Place SOFI on the scales and tare. Start a timer and pour ${
            gramsCoffee * 2
        }g of hot water (one minute after boiling) onto the bed (Use a spoon held close to the bed to break the stream from the kettle and deliver the water more gently onto the coffee.`,
        "Pick up SOFI with both hands and swirl well 5–7 times to settle the bed. Use the silicone band for easier handling.",
        "Place on scales and wait until the timer reaches 1 minute. This allows the coffee to bloom.",
        `Using the spoon technique, slowly pour hot water until the scale reads ${
            gramsCoffee * 6
        }g.`,
        "Pick up SOFI with both hands and swirl gently 2–4 times.",
        "Cover the brew chamber lightly with the lid. DO NOT press down too tightly as this will create an airtight seal and stall the brew.",
        "Wait for the draw down to complete. This can take between 6–15 minutes depending on the coffee, its freshness and the grind size. Enjoy the delicious brew/decoction anyway you like—neat, diluted with water, or with milk.",
    ];
</script>

<RecipeHeading {title} />

<div class="w-100 mw8">
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Parameters</h2>
        <RatioWaterCoffee
            bind:ratio
            bind:gramsWater
            bind:gramsCoffee
            on:changeRatio={onRatioUpdated}
            on:changeWater={onWaterUpdated}
            on:changeCoffee={onGroundCoffeeUpdated}
        />
    </div>

    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Instructions</h2>
        <InstructionTable rows={tableData} />
    </div>
</div>
