<script>
    import { precisionRound } from "../calc";
    import InstructionTable from "../components/instruction-table.svelte";
    import RatioWaterCoffee from "../components/ratio-water-coffee.svelte";
    import RecipeHeading from "../components/recipe-heading.svelte";

    const title = "A Better 1 Cup V60 Technique";

    let gramsCoffee = 15;
    let gramsWater = 250;
    let ratio = gramsCoffee / gramsWater;

    function onCoffeeUpdated() {
        gramsWater = precisionRound(gramsCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onCoffeeUpdated();
    }

    $: tableData = [
        {
            step: { from: "0:00" },
            instruction: `Pour ${precisionRound(
                gramsWater / 5,
                1
            )} of water to bloom.`,
        },
        { step: { from: "0:10", to: "0:15" }, instruction: "Gently Swirl." },
        { step: { from: "0:00", to: "0:45" }, instruction: "Bloom." },
        {
            step: { from: "0:45", to: "1:00" },
            instruction: `Pour up to ${precisionRound(
                gramsWater * 0.4,
                1
            )}g total (40% total weight).`,
        },
        { step: { from: "1:00", to: "1:10" }, instruction: "Pause." },
        {
            step: { from: "1:10", to: "1:20" },
            instruction: `Pour up to ${precisionRound(
                gramsWater * 0.6,
                1
            )}g total (60% total weight).`,
        },
        { step: { from: "1:20", to: "1:30" }, instruction: "Pause." },
        {
            step: { from: "1:30", to: "1:40" },
            instruction: `Pour up to ${precisionRound(
                gramsWater * 0.8,
                1
            )}g total (80% total weight).`,
        },
        { step: { from: "1:40", to: "1:50" }, instruction: "Pause." },
        {
            step: { from: "1:50", to: "2:00" },
            instruction: `Pour up to ${gramsWater}g total (100% total weight).`,
        },
        { step: { from: "2:00", to: "2:05" }, instruction: "Gently swirl." },
        {
            step: { to: "3:00" },
            instruction:
                "Drawdown should finish around 3:00, but expect some variance here. Taste is the most important thing!",
        },
    ];
</script>

<RecipeHeading {title} />

<div class="w-100 mw8">
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Parameters</h2>
        <RatioWaterCoffee
            bind:ratio
            bind:gramsWater
            bind:gramsCoffee
            on:changeRatio={onRatioUpdated}
            on:changeWater={onWaterUpdated}
            on:changeCoffee={onCoffeeUpdated}
        />
    </div>
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Instructions</h2>
        <InstructionTable rows={tableData} />
    </div>
</div>
