<script lang="ts">
    import { precisionRound } from "../calc";
    import InstructionTable from "../components/instruction-table.svelte";
    import RatioWaterCoffee from "../components/ratio-water-coffee.svelte";
    import RecipeHeading from "../components/recipe-heading.svelte";

    const title = "The Ultimate V60 Technique";

    let gramsCoffee = 30;
    let gramsWater = 500;
    let ratio = gramsCoffee / gramsWater;

    function onCoffeeUpdated() {
        gramsWater = precisionRound(gramsCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onCoffeeUpdated();
    }

    $: tableData = [
        {
            step: "0:00",
            instruction: `Bloom with ${precisionRound(
                2 * gramsCoffee,
                1
            )}g of water.`,
        },
        {
            step: "0:45",
            instruction: `Add water aiming for ${precisionRound(
                gramsWater * 0.6,
                1
            )}g within the next 30 seconds.`,
        },
        {
            step: "1:15",
            instruction: `Add water aiming for ${gramsWater}g
                    within the next 30 seconds.`,
        },
        {
            step: "1:45",
            instruction: "Stir 1× clockwise and 1× anticlockwise with spoon.",
        },
        {
            step: "3:30",
            instruction: "Brew finished.",
        },
    ];
</script>

<RecipeHeading {title} />

<div class="w-100 mw8">
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Parameters</h2>
        <RatioWaterCoffee
            bind:ratio
            bind:gramsWater
            bind:gramsCoffee
            on:changeRatio={onRatioUpdated}
            on:changeWater={onWaterUpdated}
            on:changeCoffee={onCoffeeUpdated}
        />
    </div>

    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Instructions</h2>
        <InstructionTable rows={tableData} />
    </div>
</div>
