<script>
    import { precisionRound } from "../calc";
    import InstructionTable from "../components/instruction-table.svelte";
    import RatioWaterCoffee from "../components/ratio-water-coffee.svelte";
    import RecipeHeading from "../components/recipe-heading.svelte";

    const title = "V60 Recipe by Mikolaj Pociecha from Brew";

    let gramsCoffee = 30;
    let gramsWater = 500;
    let ratio = gramsCoffee / gramsWater;

    function onCoffeeUpdated() {
        gramsWater = precisionRound(gramsCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onCoffeeUpdated();
    }

    $: tableData = [
        "Preheat the V60 and collection vessel.",
        "Place the filter and rinse with hot water.",
        "Add ground coffee.",
        `Bloom with ${precisionRound(
            (80 / 500) * gramsWater,
            1
        )}g of water for 45s.`,
        `Add ${precisionRound(
            (120 / 500) * gramsWater,
            1
        )}g of water with an aggressive pour, leave for 45s.`,
        `Gently pour the remaining ${precisionRound(
            (300 / 500) * gramsWater,
            1
        )}g of water.`,
        "Brew should be done in approx. 5 min.",
    ];
</script>

<RecipeHeading {title} />

<div class="w-100 mw8">
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Parameters</h2>
        <RatioWaterCoffee
            bind:ratio
            bind:gramsWater
            bind:gramsCoffee
            on:changeRatio={onRatioUpdated}
            on:changeWater={onWaterUpdated}
            on:changeCoffee={onCoffeeUpdated}
        />
    </div>

    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Instructions</h2>
        <InstructionTable rows={tableData} />
    </div>
</div>
