<script>
    import { precisionRound } from "../calc";
    import InstructionTable from "../components/instruction-table.svelte";
    import RatioWaterCoffee from "../components/ratio-water-coffee.svelte";
    import RecipeHeading from "../components/recipe-heading.svelte";

    const title = "Tetsu Kasuya 4:6 method for V60";

    let gramsCoffee = 20;
    let gramsWater = 300;
    let ratio = gramsCoffee / gramsWater;
    let strength = 2;
    let sweetnessAcidityRatio = 0.5;

    $: fourPours = strength >= 2;
    $: fivePours = strength >= 3;
    $: sixPours = strength >= 4;

    let pour4Time = "";
    let pour5Time = "";
    let pour6Time = "";

    $: {
        let seconds = 90 + precisionRound(120 / strength, 0);
        let minutes = Math.floor(seconds / 60);
        let modsecs = seconds % 60;
        pour4Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: {
        let seconds = 90 + precisionRound((120 / strength) * 2, 0);
        let minutes = Math.floor(seconds / 60);
        let modsecs = seconds % 60;
        pour5Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: {
        let seconds = 90 + precisionRound((120 / strength) * 3, 0);
        let minutes = Math.floor(seconds / 60);
        let modsecs = seconds % 60;
        pour6Time = `${minutes}:${("0" + modsecs).slice(-2)}`;
    }

    $: gramsPour1 = precisionRound(gramsWater * 0.4 * sweetnessAcidityRatio, 0);

    $: gramsPour2 = precisionRound(
        gramsWater * 0.4 * (1 - sweetnessAcidityRatio),
        0
    );

    $: gramsPourSixty = precisionRound((gramsWater * 0.6) / strength, 0);

    let tableData = [];
    $: {
        tableData = [
            { step: "0:00", instruction: `${gramsPour1}g` },
            {
                step: "0:45",
                instruction: `${gramsPour2}g (${
                    gramsPour1 + gramsPour2
                }g total)`,
            },
            {
                step: "1:30",
                instruction: `${gramsPourSixty}g (${
                    gramsPour1 + gramsPour2 + gramsPourSixty
                }g total)`,
            },
        ];
        if (fourPours) {
            tableData.push({
                step: pour4Time,
                instruction: `${gramsPourSixty}g (${
                    gramsPour1 + gramsPour2 + gramsPourSixty * 2
                }g total)`,
            });
        }
        if (fivePours) {
            tableData.push({
                step: pour5Time,
                instruction: `${gramsPourSixty}g (${
                    gramsPour1 + gramsPour2 + gramsPourSixty * 3
                }g total)`,
            });
        }
        if (sixPours) {
            tableData.push({
                step: pour6Time,
                instruction: `${gramsPourSixty}g (${
                    gramsPour1 + gramsPour2 + gramsPourSixty * 4
                }g total)`,
            });
        }
        tableData.push({ step: "3:30", instruction: "Brew finished" });
    }

    function onCoffeeUpdated() {
        gramsWater = precisionRound(gramsCoffee / ratio, 1);
    }

    function onWaterUpdated() {
        gramsCoffee = precisionRound(gramsWater * ratio, 1);
    }

    function onRatioUpdated() {
        onCoffeeUpdated();
    }
</script>

<RecipeHeading {title} />

<div class="w-100 mw8">
    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Parameters</h2>
        <RatioWaterCoffee
            bind:ratio
            bind:gramsWater
            bind:gramsCoffee
            on:changeRatio={onRatioUpdated}
            on:changeWater={onWaterUpdated}
            on:changeCoffee={onCoffeeUpdated}
        />
        <div class="mb2 w-100">
            <label for="sweetness" class="indent dib w3-5 b v-top">Sweet</label>
            <input
                id="sweetness"
                type="range"
                min="0.1"
                max="0.9"
                step="0.1"
                bind:value={sweetnessAcidityRatio}
            />
            <label for="sweetness" class="indent dib w3-5 b v-top">Acidic</label
            >
        </div>

        <div>
            <label for="strength" class="indent dib w3-5 b v-top">Weaker</label>
            <input
                id="strength"
                type="range"
                min="1"
                max="4"
                step="1"
                bind:value={strength}
            />
            <label for="strength" class="indent dib w3-5 b v-top"
                >Stronger</label
            >
        </div>
    </div>

    <div class="fl w-100 w-50-l">
        <h2 class="f3-ns">Instructions</h2>
        <InstructionTable rows={tableData} />
    </div>
</div>

<div class="w-100 mt6">
    <h2 class="f3-ns">What you should know</h2>
    <p>
        <span class="bold">Source</span> (recipe):
        <a href="https://www.youtube.com/watch?v=wmCW8xSWGZY"
            >YouTube, HARIO Official Channel (external link)
        </a>
    </p>
    <p>
        <span class="bold">Reference</span> (slight variation):
        <a href="https://www.youtube.com/watch?v=P0mI6Ue8BKc"
            >YouTube, European Coffee Trip (external link)</a
        >
    </p>
    <p>
        This recipe gives brewers some degrees of freedom as explained by Tetsu
        Kasuya in HARIO's video. The sweetness:acidity ratio changes how the
        first two pours are divided and the strength parameter determines how
        the last 60% are divided.<br />
        Please keep in mind that setting extreme parameters will probably result
        in a bad tasting cup.<br />
    </p>

    <p>
        Coarse grind settings are recommended. There is a Tetsu Kasuya varation
        of the V60 with a larger opening at the bottom that has better water
        bypass prevention. <a
            href="https://www.coffeesomething.de/v60-tetsu-kasuya-4-6-methode/"
            >coffeesomething.de</a
        > suggests that choosing a finer grind than suggested is preferable when
        using a regular V60.
    </p>
    <p>
        While the recipe video suggests leaving 45s between each pour, the
        graphics suggest that the remaining 60% should take the same amount of
        time, regardless of the chosen strength.<br />
        Here, the brew is always expected to finish around 3:30 so the pour times
        are split proportionally. Alternatively, feel free to leave 45s between each
        pour in the 60% section and see if that results in a better cup.
    </p>
</div>

<style>
    input {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .w3-5 {
        width: 5rem;
    }
</style>
