<script>
    import JamesHoffmannV60 from "./recipes/james-hoffmann-v60.svelte";
    import JamesHoffmannV60SingleCup from "./recipes/james-hoffmann-v60-single-cup.svelte";
    import MikolajPociechaV60 from "./recipes/mikolaj-pociecha-v60.svelte";
    import TetsuKasuya_4_6Method from "./recipes/tetsu-kasuya-4-6-method.svelte";
    import AramseSofi from "./recipes/aramse-sofi.svelte";

    let recipes = {
        JamesHoffmannV60: {
            text: "The Ultimate V60 Technique",
            component: JamesHoffmannV60,
        },
        JamesHoffmannV60SingleCup: {
            text: "A Better 1 Cup V60 Technique",
            component: JamesHoffmannV60SingleCup,
        },
        MikolajPociechaV60: {
            text: "V60 Recipe by Mikolaj Pociecha from Brew",
            component: MikolajPociechaV60,
        },
        TetsuKasuya_4_6Method: {
            text: "Tetsu Kasuya 4:6 method for V60",
            component: TetsuKasuya_4_6Method,
        },
        AramseSofi: {
            text: "Aramse SOFI 72 Brew Guide",
            component: AramseSofi,
        },
    };

    let selectedRecipe = "JamesHoffmannV60";
    // Read selection from url and see if there's a perfekt macht
    const urlHash = new URL(window.location.href).hash;
    if (urlHash.startsWith("#")) {
        const key = urlHash.substring(1);
        if (key in recipes) {
            selectedRecipe = key;
        }
    }

    $: window.location.hash = selectedRecipe;
</script>

<div class="bb w-100 flex items-center flex-wrap justify-between">
    <h1 class="f5 mr4" id="site-title">Coffee Recipes</h1>

    <select
        class="mv2 b--none hover-bg-moon-gray pa1"
        bind:value={selectedRecipe}
    >
        {#each Object.keys(recipes) as recipe}
            <option value={recipe}>
                {recipes[recipe].text}
            </option>
        {/each}
    </select>
</div>

<main class="flex flex-column items-center">
    <svelte:component this={recipes[selectedRecipe].component} />
</main>

<div class="flex justify-center mt6">
    <div class="w-25 flex justify-center">
        <img src="/cup.png" height="100" alt="Steaming coffee cup" />
    </div>
</div>
