#app {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

#site-title {
    padding-top: 0.25em;
}

table {
    border-collapse: collapse;
}

table td {
    vertical-align: top;
    padding: 0.5rem;
}

table > tr:nth-child(odd) {
    background-color: #eee;
}

input {
    min-width: 200px;
}
